.carousel {
    padding: 81px 0;
    background-color: #ffffff;

    &__inner {
        width: 750px;
        margin: 0 auto;
    }

    .prev {
        position: absolute;
        top: 50%;
        left: -66px;
        transform: translateY(-50%);
        border: none;
        background-color: #ffffff;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .next {
        position: absolute;
        top: 50%;
        right: -70px;
        transform: translateY(-50%);
        border: none;
        background-color: #ffffff;

        img {
            width: 30px;
            height: 50px;
        }
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}