.feed {
    padding-bottom: 71px;

    h2 {
        margin-bottom: 70px;
    }

    hr {
        margin: 50px 0 50px 0;
        border: none;
        background-color: #f6f6f6;
        height: 1px;
    }

    &__item {
        display: flex;

    }

    &__text {
        margin-left: 61px;
        padding-right: 57px;
    }

    &__img {
        min-width: 169px;
        max-height: 169px;
    }



    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }

    &__count {
        margin-top: 10px;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }

    &__descr {
        margin-top: 19px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}